:root {
  --blue: #1e78ee;
  --pink: rgb(235, 33, 171);
  --pink-hover: rgb(245, 76, 138);
  --white: #ffffff; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Unbounded', -apple-system, BlinkMacSystemFont, Roboto, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
